.dragdealer {pos`tion: relative;height: 30px;background: #EEE;}
.dragdealer .handle {position: absolute;top: 0;left: 0;cursor: pointer;}
.dragdealer .red-bar {width: 100px;height: 30px;background: #CC0000;color: #FFF;font-size: 14px;line-height: 30px;text-align: center;}
.dragdealer .disabled {/*background: #898989;*/}

#canvas-mask {position: absolute;left: 0;top: 0;  background-color: #f4f2e7;height: 500px;width: 740px;border-radius: 0;overflow: hidden;}

#canvas-mask .handle {width: 200%;height: 200%;border-radius: 0;}
#canvas-mask:not(.dragging) .handle.zoomOut .page{}
#canvas-mask:not(.dragging) .handle{
    -webkit-transition-property: transform ;
     -moz-transition-property: transform ;
       -o-transition-property: transform ;
          transition-property: transform ;

  -webkit-transition-duration:.5s;
     -moz-transition-duration:.5s;
       -o-transition-duration:.5s;
          transition-duration:.5s;

  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
#canvas-mask .handle .page { border:5px solid #f4f2e7;border-color: transparent;transition: width .3s,height .3s,border-color .3s,border-width .3s;-webkit-transition: width .3s,height .3s,border-color .3s,border-width .3s;position: absolute;background-color: #f4f2e7;}
#canvas-mask .handle .page .container{position: relative;}
.page-menu big.title{position: fixed;margin: 0;max-width: 20%;z-index: 5;color: #000;font-size: 36px;font-size: 3.6vw;font-weight: 300;line-height: 46px;line-height: 3.6vw;top:10vh;left:10%;transition:all .5s;-webkit-transition:all .5s;}

#canvas-mask .handle .page .menu{position: absolute; left: 50%; top: 10%; bottom:5%; transform:translate(-50%,0);-webkit-transform:translate(-50%,0);}
#canvas-mask .handle .page .menu .food{position: absolute;}
#canvas-mask .handle .page .menu .food .imgbg{position: absolute;left: 0; right: 0; top: 0; bottom: 0; overflow: hidden;/*border-radius: 50%;*/background-color: #e9dec0; background: url(../../img/category/bg1.png) 0 0 transparent; background-size:cover;}
#canvas-mask .handle .page .menu .food .img{position: absolute;left: 0%; right: 0%; top: 0%; bottom: 0%; overflow: hidden; /*border-radius: 50%;*/ background-repeat: no-repeat; background-size:cover;}
#canvas-mask .handle.zoomOut .page .menu .food .img{opacity: 0;}
#canvas-mask .handle.zoomOut .page .menu .food .imgbg{background-image: none; background-color: #000;}

#canvas-mask .handle .page .menu .food .info{position: absolute; margin-left: 105%; margin-top: 50%; transform:translate(0,-50%);-webkit-transform:translate(0,-50%); transition: transform .5s; -webkit-transition: transform .5s; min-width: 140px; max-width: 200px; min-width: 14vw; max-width: 20vw;}
#canvas-mask .handle .page .menu .food .info > a{display: block; font-size: 16px; font-size: 1.2vw; line-height: 18px; line-height: 1.4vw; margin-bottom: 10px;}
#canvas-mask .handle .page .menu .food .info b{display: block; color: #cf514e; font-size: 16px; font-size: 1.4vw; font-weight: normal; margin-bottom: 15px;}


#canvas-mask .handle .page .menu .food .info .cart > a.pls{z-index: 2;}
#canvas-mask .handle .food.food-1{width: 370px;height: 370px; width: 23vw; height: 23vw;}
#canvas-mask .handle .food.food-2{width: 260px;height: 260px; width: 19vw; height: 19vw;}
#canvas-mask .handle .food.food-3{width: 260px;height: 260px; width: 15vw; height: 15vw;}

#canvas-mask .handle .page.menu-type-1 .food.food-1{bottom:10%;}
#canvas-mask .handle .page.menu-type-1 .food.food-2{left:45%;}
#canvas-mask .handle .page.menu-type-1 .food.food-3{left:55%; bottom: 0;}

#canvas-mask .handle .page.menu-type-2 .food.food-1{bottom:0; left: 45%;}
#canvas-mask .handle .page.menu-type-2 .food.food-2{left: 25%; top:10%;}
#canvas-mask .handle .page.menu-type-2 .food.food-3{bottom:0;}

#canvas-mask .handle .page.menu-type-3 .food.food-1{left: 45%; top:10%;}
#canvas-mask .handle .page.menu-type-3 .food.food-2{left: 15%; bottom: 0;}
#canvas-mask .handle .page.menu-type-3 .food.food-3{top: 20%;}

#canvas-mask .handle .page.menu-type-4 .food.food-1{top:20%;}
#canvas-mask .handle .page.menu-type-4 .food.food-2{left:40%; bottom:0;}
#canvas-mask .handle .page.menu-type-4 .food.food-3{left:55%; top:10%;}

#canvas-mask .handle.zoomOut {}
#canvas-mask .handle.zoomOut .page {  border-color: #979797;border-width: 20px;}
#canvas-mask .handle.zoomOut .page.hover{border-color: #000; }
#canvas-mask .handle.zoomOut .page.hover big{margin-left: -5px; margin-top: -5px;}

#canvas-mask .handle .page.p1{left: 100vw;top:50vh;}
#canvas-mask .handle .page.p2{left: 200vw;top:0;}
#canvas-mask .handle .page.p3{left: 300vw;top:50vh;}
#canvas-mask .handle .page.p4{left: 200vw;top:100vh;}
#canvas-mask .handle .page.p5{left: 100vw;top:150vh;}
#canvas-mask .handle .page.p6{left: 0vw;top:200vh;}
#canvas-mask .handle .page.p7{left: 100vw;top:250vh;}
#canvas-mask .handle .page.p8{left: 200vw;top:200vh;}
#canvas-mask .handle .page.p9{left: 300vw;top:150vh;}
#canvas-mask .handle .page.p10{left: 400vw;top:200vh;}
#canvas-mask .handle .page.p11{left: 300vw;top:250vh;}
#canvas-mask .handle .page.p12{left: 300vw;top:350vh;}
#canvas-mask .handle .page.p13{left: 200vw;top:300vh;}
#canvas-mask .handle .page.p14{left: 100vw;top:350vh;}


#canvas-mask-controls a,
#canvas-mask-menu a{color: #fff; display: block;}
#canvas-mask-menu a.active{color: #979797;}
#canvas-mask-menu {position: absolute;z-index: 2;bottom: 5px;right: 5px;margin: 0;padding: 10px 15px;background: #000;background: rgba(0, 0, 0, 0.75);color: #666;cursor: default;}
#canvas-mask-controls {position: absolute;padding: 10px 15px;bottom: 300px;right:5px;background: #000;background: rgba(0, 0, 0, 0.75);z-index: 2;color: #666;}

/**/
section.page-menu-index {}
section.page-menu-index .map-outer{ width: 1200px; height: 940px; position: absolute; left: 50%; top: 50%; margin: -470px 0 0 -600px; background: url(/img/menu/menu.png) no-repeat 50% 50%; }
section.page-menu-index .map-outer ul>li{position: absolute; width: 60px; height: 60px; }
@media and screen and(min){}
section.page-menu-index .map-outer ul>li>a{border:1px solid #fff; border-radius: 50%; background-color: #fff; width: 60px; height: 60px; position: absolute; overflow: visible;}
section.page-menu-index .map-outer ul>li>a:hover{background-color: #f4f2e7;border-color:#e2e0d5;}
section.page-menu-index .map-outer ul>li.p1{margin: 140px 0 0 230px;}
section.page-menu-index .map-outer ul>li.p2{margin: 230px 0 0 350px;}
section.page-menu-index .map-outer ul>li.p3{margin: 340px 0 0 300px;}
section.page-menu-index .map-outer ul>li.p4{margin: 480px 0 0 230px;}
section.page-menu-index .map-outer ul>li.p5{margin: 560px 0 0 300px;}
section.page-menu-index .map-outer ul>li.p6{margin: 100px 0 0 640px;}
section.page-menu-index .map-outer ul>li.p7{margin: 190px 0 0 540px;}
section.page-menu-index .map-outer ul>li.p8{margin: 280px 0 0 590px;}
section.page-menu-index .map-outer ul>li.p9{margin: 520px 0 0 540px;}
section.page-menu-index .map-outer ul>li.p10{margin: 590px 0 0 640px;}
section.page-menu-index .map-outer ul>li.p11{margin: 560px 0 0 920px;}
section.page-menu-index .map-outer ul>li.p12{margin: 480px 0 0 980px;}
section.page-menu-index .map-outer ul>li.p13{margin: 390px 0 0 1019px;}

section.page-menu-index .map-outer ul>li>a i.sp{position: absolute; margin: 10px 0 0 10px;}
section.page-menu-index .map-outer ul>li>a span{position: absolute; z-index: 2; margin: 20px 0 0 60px; padding-left: 10px; font-size: 16px; white-space: nowrap; transition: all .3s;}

section.page-menu-index .map-outer ul>li>ul{z-index: 2; margin: 20px 0 0 10px; transform:scale(0,0); transition: all .3s;}
section.page-menu-index .map-outer ul>li.active>ul{transform:scale(1,1);}
section.page-menu-index .map-outer ul>li>a{ z-index: 3;}
section.page-menu-index .map-outer ul>li.active>a>span{margin-left: 0; padding-right: 10px; right: 100%;}
section.page-menu-index .map-outer ul>li>ul a{position: absolute; width: 60px; opacity: 0; overflow: hidden; font-size: 10px; height: 24px;object-fit: contain;border-radius: 58px;background-color: #ffffff;text-align: center;transition: all .3s; box-shadow: 0 0 5px #e2e0d5;}
section.page-menu-index .map-outer ul>li>ul a:hover{ transition:none !important; box-shadow: 0 0 10px #e2e0d5;}
section.page-menu-index .map-outer ul>li>ul a:before {content: "";display: inline-block;width: 16px;height: 10px;margin-left: 41px;position: absolute;left: 0;top:23px;    background: url(../../img/sprite.png) no-repeat 0 0 transparent;background-position: -25px -50px;}
section.page-menu-index .map-outer ul>li>ul a:last-child:before{display: none;}
section.page-menu-index .map-outer ul>li.active>ul a{ opacity: 1; font-size: 14px;width: 137px;  transition-delay:.1s; transform: translate(20px,10px); }
section.page-menu-index .map-outer ul>li.active>ul a.a1{transition-delay:.15s; transform: translate(18px,-100px);}
section.page-menu-index .map-outer ul>li.active>ul a.a2{transition-delay:.2s; transform: translate(36px,-66px);}
section.page-menu-index .map-outer ul>li.active>ul a.a3{transition-delay:.25s; transform: translate(54px,-32px);}
section.page-menu-index .map-outer ul>li.active>ul a.a4{transition-delay:.3s; transform: translate(72px,2px);}
section.page-menu-index .map-outer ul>li.active>ul a.a5{transition-delay:.35s; transform: translate(54px,36px);}
section.page-menu-index .map-outer ul>li.active>ul a.a6{transition-delay:.4s; transform: translate(0px,70px);}





body[data-controller="menu"][data-method="dish"] .main-menu{background-color: transparent;}

section.page-menu-dish{background-color: #ede4cc !important;}
section.page-menu-dish .page-inner{padding-top: 20%; padding-top:20vh;}
/*.page-menu-dish .page-inner{padding-top: 120px;}*/
.page-menu-dish .bigtmb{text-align: center; padding-top: 40px;}
.page-menu-dish .smalltmb{ text-align: center;}
.page-menu-dish .smalltmb a{display: inline-block;}
.page-menu-dish .smalltmb img{width: 60px; margin: 40px 5px 0 5px;}
.page-menu-dish .photobg{background:url(/img/menu/splatter.jpg) no-repeat -59px -55px transparent;}
.page-menu-dish .description .hr{border-bottom: 1px solid #cab392; height: 30px; margin-bottom:30px; width: 50px;}
.page-menu-dish .description big{font-size: 24px; font-weight: normal; margin-bottom: 20px; display: block;}
.page-menu-dish .description p{font-size: 18px; font-weight: normal; margin-bottom: 20px;}
.page-menu-dish .description big i{font-size: 22px;}
.page-menu-dish .description .label{padding: 3px 10px;}
.page-menu-dish .description .hr2{font-size: 18px; margin-bottom: 20px; position: relative; height: 30px;}
.page-menu-dish .description .hr2 s{border-bottom: 1px solid #cab392; position: absolute; width: 100%; left: 0; top: 14px;}
.page-menu-dish .description .hr2 span{position: absolute; background-color: #ede4cc; padding-right: 10px;}
.page-menu-dish .description ul.ingredients{position: relative;}
.page-menu-dish .description ul.ingredients li{float: left; margin-right: 30px;}
.page-menu-dish .description ul.ingredients li img{display: block; margin: 0 auto;}
.page-menu-dish .description ul.ingredients li span{display: block; text-align: center; padding: 10px 0 0 0;}
#pages > section.page.page-menu-dish h1{ font-size: 30px;font-weight: bold;color: #333333; margin: 0;}
.page-menu-dish .description small{font-size: 14px; font-weight: bold;}
.page-menu-dish .description strong{font-size: 18px; font-weight: normal; display: block; width: 50%;}
.page-menu-dish .description strong span{float: right;}



.page-menu-dish .arrow{width: 58px; height: 120px; background-color: #e7d8b8; position: absolute; top: 40%; text-align: center; line-height: 125px; z-index: 2;}
.page-menu-dish .arrow.arrow_left{left: 0; border-top-right-radius: 60px; border-bottom-right-radius: 60px;}
.page-menu-dish .arrow.arrow_right{right: 0; border-top-left-radius: 60px; border-bottom-left-radius: 60px;}

.page-menu-dish .arrow_back{position: absolute; top:60px; margin-left: 8px; padding-left: 10px;}
.page-menu-dish .arrow_back > i{position: absolute; left: 0; top:0;}
.page-menu-dish .arrow_back span{position: absolute;  margin-left: 8px; width: 100px; padding-top: 4px;}


.page-menu-dish .photobg .bigtmb{text-align: center; padding-top: 40px;}
.page-menu-dish .photobg .bigtmb span img{display: none;}
.page-menu-dish .photobg .smalltmb a img{opacity: 0.5;}
.page-menu-dish .photobg[data-index="1"] .bigtmb span:nth-child(1) img{display: inline;}
.page-menu-dish .photobg[data-index="1"] .smalltmb a:nth-child(1) img{opacity: 1 !important;}
.page-menu-dish .photobg[data-index="2"] .bigtmb span:nth-child(2) img{display: inline;}
.page-menu-dish .photobg[data-index="2"] .smalltmb a:nth-child(2) img{opacity: 1 !important;}
.page-menu-dish .photobg[data-index="3"] .bigtmb span:nth-child(3) img{display: inline;}
.page-menu-dish .photobg[data-index="3"] .smalltmb a:nth-child(3) img{opacity: 1 !important;}
.page-menu-dish .photobg[data-index="4"] .bigtmb span:nth-child(4) img{display: inline;}
.page-menu-dish .photobg[data-index="4"] .smalltmb a:nth-child(4) img{opacity: 1 !important;}
.page-menu-dish .photobg[data-index="5"] .bigtmb span:nth-child(5) img{display: inline;}
.page-menu-dish .photobg[data-index="5"] .smalltmb a:nth-child(5) img{opacity: 1 !important;}



.page-menu-dish .cloud{
   background-image: url(/img/cart/cart-smoke.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 384px;
    height: 120px;
    position: absolute;
    right: 0; top: 0;
}
.page-menu-dish.dark .cloud{display: none;}
.page-menu-dish.dark{
   background-image: url(/img/tpl/dark-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.page-menu-dish.dark .photobg{
    background-image: url(/img/menu/splatter-dark.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.page-menu-dish.dark .arrow{background-color: #5e4d62;}
.page-menu-dish.dark .sp-a1 i{background-position: 0 -170px !important;}
.page-menu-dish.dark .sp-a2 i{background-position: -25px -170px !important;}
.page-menu-dish.dark .sp-a3 i{background-position: -50px -170px !important;}
.page-menu-dish.dark .label-brown{background-color: transparent !important; border-color: #574b5d !important;}
.page-menu-dish.dark .arrow_back,
.page-menu-dish.dark .description{color: #fff;}
.page-menu-dish.dark .description h1{color: #fff !important;}
.page-menu-dish.dark .description .hr{border-color: #574b5d;}
.page-menu-dish.dark .description .hr2 s{border-color: #574b5d;}
.page-menu-dish.dark .description .hr2 span{background-image: url(/img/tpl/dark-bg.png);}

.page-menu-dish.page-set .description h1{color: #b0976d !important;}
.page-menu-dish.page-set ul.set-ingredients {padding-top: 20px;}
.page-menu-dish.page-set ul.set-ingredients li{font-size: 13px; padding-left: 110px; padding-top: 10px; min-height: 90px; margin-bottom: 20px;}
.page-menu-dish.page-set ul.set-ingredients li img{position: absolute; width: 90px; margin:-10px 0 0 -110px;}
.page-menu-dish.page-set ul.set-ingredients li small{display: block; font-size: 14px;}


/*.page-menu-dish > .page-inner > .container > .row {position: relative; overflow: visible;}*/
.page-menu-dish > .page-inner > .container > .row > div{position: relative;}



body.hasScroll .description-outer{position: absolute !important; right: -20px; width: 55%; bottom: 0; top:0; overflow: hidden;  z-index: 1;}
body.hasScroll .description{position: absolute; width: 100%; bottom: 0; top:0; left: 0; right: 0px;  overflow: hidden; overflow-y:auto; padding: 30vh 0 0 10%;}


