body[data-controller="search"] .main-menu{background-color: transparent;}
.page-search .search-top{
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		height: 40%;
		height: 40vh;
		min-height: 500px;

    background-image: url(/img/search/find-smoke-white.png);
    background-repeat: repeat-x;
    background-position: 0 0;
}

.page-search .search-top .container{padding-top: 7%;padding-top: 7vh; }
.page-search .page-inner{position: absolute; width: 100%; top:0; bottom: 0; }
.page-search h3{margin-bottom: 0;}
.page-search .search-field{height: 74px; position: relative;}
.page-search .search-field .text-suggestion{height: 74px; position: absolute; font-size: 54px; line-height: 73px; width: 50%; color: #e9dec0; padding: 0;}
.page-search .search-field .controls{height: 74px; position: absolute; width: 100%;}
.page-search .search-field .controls > input{height: 74px; line-height: 74px; padding: 0; background-color: transparent; border:none; font-size: 54px; line-height: 73px; width: 50%; }
.page-search .search-field .controls > a{position: absolute; margin-top: 25px; min-width: 108px;}
.page-search .hr{width: 140px; border-bottom:1px solid #b0976d; height: 60px;}
/**/
.page-search .search-results{position: absolute; z-index: 1; width: 100%; left 0; right: 0; margin-right: -30px;   bottom: 0; top:0; padding-top: 40vh; overflow: hidden; overflow-y:auto;}
.page-search .search-results .heading big{display: block; font-size: 16px; font-weight: normal; margin-bottom: 10px; padding-right: 40px; cursor: pointer;}
.page-search .search-results .heading big.fixed{position: fixed;}
.page-search .search-results .heading small{display: block; font-size: 14px; font-weight: normal; transform: scale(0,0);-webkit-transform: scale(0,0);}
/*.page-search .search-results .listing>.row{overflow: hidden; height: 0;}*/
.page-search .search-results .listing a{display: block; padding: 0 40px 0 140px; font-size: 16px; line-height: 24px; opacity: 0; min-height: 0px; overflow: hidden; /*transform: scale(1,0);-webkit-transform: scale(1,0);*/ height: 0;}
.page-search .search-results .listing a img{position: absolute; left: 15px;transition: all .5s;-webkit-transition: all .5s;}
.page-search .search-results .listing a big{font-weight: normal; color: #cf514e; display: block;}
.page-search .search-results .listing a big i{font-size: 15px; }
.page-search .search-results .row.active .listing a{/*transform: scale(1,1);-webkit-transform: scale(1,1);*/ height: 140px; min-height: 140px; opacity: 1;}
.page-search .search-results .row.active .heading big{font-size: 24px;}
.page-search .search-results .row.active .heading small{transform: scale(1,1);-webkit-transform: scale(1,1);}
@media screen and (min-width:1000px){
	/*.search-results .listing a:hover {background-color: #ccc; transform: scale(1.1,1.1);-webkit-transform: scale(1.1,1.1);}*/
	/*.page-search .search-results .listing a:hover img{transform: scale(1.1,1.1);-webkit-transform: scale(1.1,1.1);}*/
	.page-search .search-results .heading big:hover{color: #cf514e !important;}
}

/*.page-search .search-results .listing a{transition: all .5s;-webkit-transition: all .5s;}*/
.page-search .search-results .heading big{transition: font-size .3s;-webkit-transition: font-size .3s;}
.page-search .search-results .heading small{transition: all .3s;-webkit-transition: all .3s;}
.page-search .search-results .no-result{text-align: center; font-size: 24px;}

.page-search.dark{
	 background-image: url(/img/tpl/dark-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.page-search.dark .search-results .listing a,
.page-search.dark .search-results .listing a big,
.page-search.dark .search-results{color: #fff;}