/**/
section.page-map {}
section.page-map .page-inner{padding-top: 10%; padding-top: 10vh;}
section.page-map .map-outer{ width: 1000px; height: 700px; position: absolute; left: 50%; top: 50%; margin: -350px 0 0 -500px;	background: url(/img/map/map.png) no-repeat 50% 50%; }
section.page-map .map-outer > a{position: absolute; width: 82px; height: 82px;  border:1px solid #ff0; border-radius: 50%; border:1px solid #e2e0d5; background-color: #f4f2e7; font-size: 15px;}
section.page-map .map-outer > a span{position: absolute; top:82px; left: 50%; padding-top: 5px; margin-left: -41px; width: 82px; text-align: center; }
section.page-map .map-outer > a b{position: absolute; top:82px; padding-top: 5px; left: 50%; margin-left: -71px; width: 142px; text-align: center; display: none; white-space: nowrap;}
section.page-map .map-outer > a a,
section.page-map .map-outer > a b{text-shadow: 0 0 2px #f4f2e7;}
section.page-map .map-outer > a:hover{border-color: #000;}
section.page-map .map-outer > a.active span/*,
section.page-map .map-outer > a:hover span*/{display: none;}
section.page-map .map-outer > a.active b/*,
section.page-map .map-outer > a:hover b*/{display: block;}
section.page-map .map-outer > a.p1{margin: 209px 0 0 77px; }
section.page-map .map-outer > a.p2{margin: 361px 0 0 164px; }
section.page-map .map-outer > a.p3{margin: 540px 0 0 240px; }
section.page-map .map-outer > a.p4{margin: 315px 0 0 450px; }
section.page-map .map-outer > a.p5{margin: 455px 0 0 543px; }
section.page-map .map-outer > a.p6{margin: 552px 0 0 675px; }

#popup-map .img img{max-width: 100%; min-width: 100%;}
#popup-map .img{padding-bottom: 20px;}
#popup-map h3{max-width: 100%; font-weight: 700; margin-bottom: 15px;}
/*#popup-map .logo{position: absolute;}*/
#popup-map .heading{height: 100px;}

#popup-map .time small,
#popup-map .phone small{position: absolute; color: #938263; font-size: 14px;}
#popup-map .time big,
#popup-map .phone big{line-height: 14px;}
#popup-map .time i.sp,
#popup-map .phone i.sp{margin-right: 7px;}
#popup-map .time ,
#popup-map .phone{float: left; position: relative; padding: 0 15px;}
/*#popup-map .time{float: right; }*/
#popup-map .info{padding-top: 30px;}
#popup-map .info b{position: absolute; font-weight: normal; color: #ccb595;}
#popup-map .info .menu,
#popup-map .info .payment{padding-left: 80px;}


#popup-map .container{width: 50vw; /*max-width: 500px;*/ margin-right: 0;  overflow: hidden; padding-right: 40px; overflow-y:auto; max-height: 100vh;}

#popup-map.in .inner ,
#popup-map.active .inner {width: 50vw;}
#popup-map.out .inner {width: 0 !important;}
#popup-map-map{height: 400px; margin-bottom: 35px;}