

#popup-cart .cart-cc{line-height: 25px; display: inline-block;position: absolute;}
#popup-cart .cart-cc b{margin: -6px 0 0 5px; position: absolute; background-color: #cf514e; color: #fff;}
#popup-cart .cart-sum{position: absolute; margin-left: 75px; font-size: 13px; font-weight: 600;}
#popup-cart .cart-sum b{font-weight: 600; color: #cf514e;}
#popup-cart .total {font-weight: 600;}
#popup-cart .total a.btn{margin-top: 6px;}
#popup-cart .total small{line-height: 14px;}
#popup-cart .total big{font-size: 24px; font-weight: 400; line-height: 24px;}
#popup-cart .total big i{font-size: 17px;}

#popup-cart .popup-success{position: absolute; opacity: 0; z-index: 2; right: 0; top:0; bottom: 0; width: 33%; margin-right: 33%; text-align: center; padding-top: 20vh;}
#popup-cart .popup-success > .img{padding-bottom: 40px;}

#popup-cart .popup-order{position: absolute; opacity: 0; z-index: 2; right: 0; top:0; bottom: 0; width: 33%; margin-right: 33%; }
#popup-cart .popup-order form .row > div{line-height: 30px; margin-bottom: 14px;}
#popup-cart .popup-order form button{display: block; width: 100%;}
#popup-cart .popup-order form label{white-space: nowrap;}

#popup-cart .cart-list {font-size: 13px;}
#popup-cart .cart-list div > img{max-width: 100%; }
#popup-cart .cart-list .presents > .row,
#popup-cart .cart-list > .row {margin-bottom: 20px;}
#popup-cart .cart-list .name b{display: block; font-weight: 400; color: #cf514e;}
#popup-cart .cart-list .count{padding-top: 15px;}
#popup-cart .cart-list .count a{position: absolute; display: inline-block; width: 25px; height: 25px; border-radius: 50%; border:1px solid #ece2c7; color: #938263; background-color: #fff; text-align: center; font-size: 18px; line-height: 18px;}
#popup-cart .cart-list .count a i{font-size: 10px;}
#popup-cart .cart-list .count a:hover{background-color: #ece2c7;}
#popup-cart .cart-list .count b{position: absolute; margin-left: 25px; display: inline-block; width: 25px; height: 25px; color: #707070; background-color: #fff; text-align: center; font-size: 16px; font-weight: 400; line-height: 24px;}
#popup-cart .cart-list .count a.plus{margin-left: 50px;}



#popup-cart.active.order .inner,
#popup-cart.active.success .inner {width: 66vw;}

#popup-cart.active.success:not(.out) .popup-success{opacity: 1;transition-delay:.0s;}
#popup-cart.active.order:not(.out) .popup-order{opacity: 1;transition-delay:.0s;}

#popup-cart-present{z-index: 11;}
#popup-cart-present .heading strong{font-size: 18px; font-weight: normal;}
#popup-cart-present .cart-present{}
#present_text span{display: none;}
#popup-cart-present[data-presents="1"] #present_text span[data-count="1"]{display: block !important;}
#popup-cart-present[data-presents="2"] #present_text span[data-count="2"]{display: block !important;}
#popup-cart-present[data-presents="3"] #present_text span[data-count="3"]{display: block !important;}


#popup-cart-present .cart-present li{ padding: 40px 0 0 140px; position: relative; min-height: 120px; margin-bottom: 20px; font-size: 18px;}
#popup-cart-present .cart-present li img{position: absolute; left: 0; width: 120px; top:0;}
button.btn-cart,
#popup-cart-present .cart-present li button.btn{ line-height: 1 !important; height: auto !important; font-size: 12px; background-color: transparent !important; color: #000 !important; border-color: #b26c00 !important; min-width: auto !important; padding:5px 10px !important;}

#popup-cart[data-count] a.btn1{display: block;}
#popup-cart[data-count] a.btn2{display: none;}

#popup-cart[data-count="0"] a.btn1{display: none;}
#popup-cart[data-count="0"] a.btn2{display: block;}

#popup-cart.active.order a.btn1{display: none !important;}
#popup-cart.active.order a.btn2{display: none !important;}

.cart-present li .btn{float: right;}
#popup-cart-present .cart-present li button.btn-primary{float: right; }

#popup-cart-present .cart-present li.disabled button.btn{display: none;}
#popup-cart-present .cart-present li .btn.is-selected{display: none; border-color: #768441 !important; color: #768441 !important;}
#popup-cart-present .cart-present li.active .btn.is-selected{display: block;}
#popup-cart-present .cart-present li.active .btn.can-select{display: none;}
.cart-list .presents div.name{padding-top: 15px;}