    /*-ms-transform: scale(0.8,0.8); */
    /*-webkit-transform: scale(0.8,0.8); */
    /*transform: scale(0.8,0.8); */
    /*-webkit-filter: grayscale(100%); */
    /*filter: grayscale(100%); */
    /*filter: saturate(30%); */
    /*-webkit-filter: saturate(30%);*/
    /*-webkit-filter: opacity(80%); */
    /*filter: opacity(80%); */

     /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/

@-webkit-keyframes activatePage {
  0%   { margin-top: -100vh; transform:scale(1,1);}
  100%   { margin-top: 0vh; opacity: 1;  transform:scale(1,1);}
}
@-moz-keyframes activatePage {
  0%   { margin-top: -100vh; transform:scale(1,1);}
  100%   { margin-top: 0vh; opacity: 1;  transform:scale(1,1);}
}
@-o-keyframes activatePage {
  0%   { margin-top: -100vh; transform:scale(1,1);}
  100%   { margin-top: 0vh; opacity: 1;  transform:scale(1,1);}
}
@keyframes activatePage {
  0%   { margin-top: -100vh; transform:scale(1,1);}
  100%   { margin-top: 0vh; opacity: 1;  transform:scale(1,1);}
}



/******************************************************************************************************/
/*#popup-cart,*/
.popup-smoke .inner,
/*.popup-smoke .cart-success ,*/
.popup-smoke .inner .smoke{
-webkit-transition-timing-function: cubic-bezier(0.000, 1, 0.975, 0.965); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.000, 1.265, 0.975, 0.965);
   -moz-transition-timing-function: cubic-bezier(0.000, 1.265, 0.975, 0.965);
     -o-transition-timing-function: cubic-bezier(0.000, 1.265, 0.975, 0.965);
        transition-timing-function: cubic-bezier(0.000, 1.265, 0.975, 0.965); /* custom */

}

.popup-smoke.out,
.popup-smoke.in {
  -webkit-transition: background-color 750ms;
     -moz-transition: background-color 750ms;
       -o-transition: background-color 750ms;
          transition: background-color 750ms;
}
.popup-smoke .inner{
  -webkit-transition: width 750ms;
     -moz-transition: width 750ms;
       -o-transition: width 750ms;
          transition: width 750ms;
}

.popup-smoke .smoke{
  -webkit-transition: background-position 1s;
     -moz-transition: background-position 1s;
       -o-transition: background-position 1s;
          transition: background-position 1s;
}


.popup-smoke.active:not(.out) .inner{
  -webkit-transition: width 0ms !important;
     -moz-transition: width 0ms !important;
       -o-transition: width 0ms !important;
          transition: width 0ms !important;
}