
.cssload-container {
  width: 100%;
  height: 49px;
  text-align: center;
}

.cssload-speeding-wheel {
  width: 49px;
  height: 49px;
  margin: 0 auto;
  border: 3px solid #000;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 575ms infinite linear;
    -o-animation: cssload-spin 575ms infinite linear;
    -ms-animation: cssload-spin 575ms infinite linear;
    -webkit-animation: cssload-spin 575ms infinite linear;
    -moz-animation: cssload-spin 575ms infinite linear;
}



@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }}

  



.page-loading{position: fixed; z-index: 10; background-color: #f4f2e7; /*background-color: rgba(244,242,231,0.8);*/ left: 0; top: 0; right: 0; bottom: 0; opacity: 1; overflow: hidden;}
@media screen and (min-width: 1200px){.page-loading{transition: background-color 1s; -webkit-transition: background-color 1s; transition-delay: .5s; -webkit-transition-delay: .5s;}}
.page-loading.hidding {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  /*margin-top:-100%;*/
  height: 0;
  /*left:-100%;*/
}
.page-loading .cssload-container {
  width: 49px !important;
  left: 50%;
  margin-left: -25px;
  top:300px;
  position: absolute;
}

body[data-loading="done"] .page-loading{background-color: transparent !important;}





