#pages > section.page{position: absolute; left: 0; top:0; right: 0; bottom: 0; 
	margin-top: -40vh; 
	opacity: 0;  
	/*transition: margin-top .5s,opacity .5s; -webkit-transition: margin-top .5s,opacity .5s;*/
	/*box-sizing:content-box;*/
	/*box-sizing:border-box;*/
	overflow: hidden;
	/*border:1px solid #bcb5b9;*/
	/*transform: scale(0.9,0.9);*/
	/*-webkit-transform: scale(0.9,0.9);*/
	/*transition: all .5s; -webkit-transition: all .5s;*/
	z-index: 0;
	background-color: #f4f2e7;
	/*box-shadow: 0 0 20px #ccb595;*/

  /*-webkit-animation: activatePage .9s cubic-bezier(0.965, 0.965, 0.405, 1.000); /* Safari 4+ */
  /*-moz-animation:    activatePage .9s cubic-bezier(0.965, 0.965, 0.405, 1.000); /* Fx 5+ */
  /*-o-animation:      activatePage .9s cubic-bezier(0.965, 0.965, 0.405, 1.000); /* Opera 12+ */
  /*animation:         activatePage .9s cubic-bezier(0.965, 0.965, 0.405, 1.000); /* IE 10+, Fx 29+ */
}
#pages > section.page.active{
	 z-index: 1;
	 opacity: 1;
	 margin-top: 0;
	 	transform: scale(1,1);
	 	-webkit-transform: scale(1,1);

	
}


#pages > section.page h1{font-weight: 300; font-size: 36px; color: #333333; margin-bottom: 35px;}

/*#pages > section.page .page-inner{padding: }*/
/**/
section.page-index{}
section.page-index .page-logo{top:10vh;  position: absolute; left: 50%;  transform: translate(-50%,0);-webkit-transform: translate(-50%,0);transition: top .5s;-webkit-transition: top .5s;}
@media screen and (min-height:769px ){
	section.page-index .page-logo{top:17vh;}
}
section.page-index .page-logo .logo{ z-index: 4; position: absolute; left: 50%; top:50%; margin: -24px 0 0 -90px;  }
section.page-index .page-logo .circle{ position: absolute; border-radius: 50%; overflow: hidden; left: 50%; top:50%;  }
section.page-index .page-logo #page-logo-canvas { display: none;}
section.page-index .page-logo #page-logo-canvas canvas{position: absolute; z-index: 4;}

/*section.page-index .page-logo .circle.circle1{z-index: 1; margin: -79px 0 0 -95px; width: 194px; height: 194px;  background-color: #de8e6e;}*/
/*section.page-index .page-logo .circle.circle2{z-index: 2; margin: -53px 0 0 -68px; width: 142px; height: 142px;  background-color: #cf514e;}*/
/*section.page-index .page-logo .circle.circle3{z-index: 3; margin: -30px 0 0 -46px; width: 96px; height: 96px;  background-color: #c02440;}*/

section.page-index .page-bottom{position: absolute; left: 50%; transform: translate(-50%,0) scale(0.8,0.8);-webkit-transform: translate(-50%,0) scale(0.8,0.8); text-align: center; bottom: 40px; max-width: 350px;transition: opacity .5s, transform .2s, bottom .5s;-webkit-transition:opacity .5s, transform .2s, bottom .5s; opacity: 0; }
section.page-index[data-animation='busy'] .page-bottom{ opacity: 1; bottom:-100%;}
section.page-index[data-animation='done'] .page-bottom{opacity: 1; transform: translate(-50%,0);-webkit-transform: translate(-50%,0);}

section.page-index .page-bottom p{font-size: 16px; margin-bottom: 20px;}
section.page-index .page-bottom .btn{margin: 0 5px;}
section.page-index #page-logo-canvas{background: url(../../img/index/main-screen-result.png) no-repeat 0 0; width: 675px; height: 404px;}
/**/
section.page-404 .page-inner{padding-top: 10%; padding-top: 10vh;}
/**/
section.page-delivery .page-inner{padding-top: 10%; padding-top:10vh;}
section.page-delivery .tinyScrollbar_outter{position: absolute; left: 0px; top:0px; right: 20px; bottom: 50px; padding: 50px 0;}
/*section.page-delivery .tinyScrollbar_outter .scrollbar{position: absolute; top:-200vh;}*/

/*section.page-delivery .map-outer{ width: 532px; height: 332px; position: absolute; left: 50%; top: 50%; margin: -166px 0 0 -266px; background: url(/img/delivery/map.png) no-repeat 50% 50%; }*/
/**/
section.page-shares .page-inner{padding-top: 10%; padding-top:10vh;}
section.page-shares .page-inner .container{position: absolute; top:0; bottom: 0; left: 50%; transform:translate(-50%,0);}
section.page-shares .page-inner .row{margin-bottom: 120px; clear: both;}
section.page-shares .page-inner h2{padding: 100px 0 16px 0; font-weight: 700; font-size: 24px; color: #b0976d; margin: 0;}
section.page-shares .page-inner p{padding-bottom: 8px; font-weight: 300; font-size: 18px; }
section.page-shares .page-inner .img-preview img{position: absolute; right: 0;}
section.page-shares .tinyScrollbar_outter{position: absolute; left: 0px; top:0px; right: 20px; bottom: 50px; padding: 50px 0;}
/*section.page-shares .tinyScrollbar_outter .scrollbar{position: absolute; top:-200vh;}*/
/**/
section.page-menu {background: url(/img/menu/menu.png) no-repeat 50% 50%; background-size: cover;}
/**/
/**/





.popup-smoke{position: fixed; z-index: 10; left:0; top: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0); /*display: none;*/ margin-left: 100vw;}
.popup-smoke .inner{position: absolute; z-index: 1; width: 0; right: 0; top: 0; bottom: 0;  background-color: #fff; padding: 0 0 20px 0;  margin-left: -200px;}
.popup-smoke .inner > .container{width: 0vw; margin-right: 0;z-index: 3; position: relative;  overflow: hidden; height: 100vh;}
.popup-smoke .smoke{position: absolute;  z-index: 1; top:0; height: 100%;height: 100vh; margin-left: -100px; background: repeat-y transparent;}
.popup-smoke .smoke01{width:315px; background-image: url(/img/cart/smoke01.png); z-index: 2;}
.popup-smoke .smoke02{width:274px; background-image: url(/img/cart/smoke02.png); z-index: 2;}
.popup-smoke .closer{float: right; /*display: none;*/}
.popup-smoke .heading{position: relative; height: 41px; padding-top: 20px;}
.popup-smoke .total{position: absolute; left: 20px; right: 20px; bottom: 20px; height: 100px;}
.popup-smoke .tinyScrollbar_outter{position: absolute; left: 20px; top:70px; right: 20px; bottom: 100px; }
.popup-smoke .tinyScrollbar .scrollbar{top:0;}

.popup-smoke .tinyScrollbar_outter .tinyScrollbar{position: absolute; left: 0; top:0px; right: 0; bottom: 0px; }
.popup-smoke .inner .tinyScrollbar_outter {padding: 30px 0 0px 0;}
.popup-smoke big{font-size: 24px;}
.popup-smoke.active hr{margin-left: -50px;}
.popup-smoke hr{border:none;height: 1px;margin-right: -15px;background: #ffffff;background: -moz-linear-gradient(left,  #ffffff 0%, #e9dec0 100%);background: -webkit-linear-gradient(left,  #ffffff 0%,#e9dec0 100%);background: linear-gradient(to right,  #ffffff 0%,#e9dec0 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9dec0',GradientType=1 );}

.popup-smoke.order hr,
.popup-smoke.success hr{background: #e9dec0 !important;}

.popup-order{border-right: 1px solid #e9dec0;}
.popup-success{border-right: 1px solid #e9dec0;}

.popup-smoke.in,
.popup-smoke.active{margin-left: 0; background-color: rgba(0,0,0,0.3);}

.popup-smoke.in .inner,
.popup-smoke.active .inner {width: 33vw;}
.popup-smoke.in .inner>.container,
.popup-smoke.active .inner>.container{width: 33vw; /*max-width: 100%;*/}


.popup-smoke.in .smoke01,
.popup-smoke.active .smoke01{margin-left: -216px;}
.popup-smoke.in .smoke02,
.popup-smoke.active .smoke02{margin-left: -175px;}

.popup-smoke.out{background-color: rgba(0,0,0,0);}
.popup-smoke.out .inner {width: 0;}
.popup-smoke.out .smoke{margin-left: -100px;}


