i.sp{display: inline-block;}
i.sp > i{ background: url(../../img/sprite.png) no-repeat 0 0 transparent; display:block;}



				i.sp-1 i{width: 16px; height: 13px;}
				i.sp-2 i{width: 19px; height: 12px; background-position: -25px 0px;}
				i.sp-3 i{width: 14px; height: 14px; background-position: -50px 0px;}
				i.sp-4 i{width: 70px; height: 15px; background-position: -75px 0px;}
				i.sp-5 i{width: 18px; height: 15px; background-position: 0px -25px;}
				i.sp-5b i{width: 18px; height: 15px; background-position: 0px -50px;}
				i.sp-6-logo-white i{width: 180px; height: 85px; background-position: -150px 0px ;}
				i.sp-6-logo-min i{width: 100px; height: 46px; background-position: -150px -100px ;}
				i.sp-minus i{width: 13px; height: 1px; background-position: -25px -25px;}/*7*/
				i.sp-plus i{width: 13px; height: 13px; background-position: -50px -25px;}/*8*/
				i.sp-cart-x i{width: 19px; height: 19px; background-position: -75px -25px;}/*9*/
				i.sp-10 i{width: 37px; height: 37px; background-position: -330px 0;}/*10*/
				i.sp-11 i{width: 16px; height: 10px; background-position: -25px -50px;}/*11*/
				i.sp-12 i{width: 52px; height: 52px; background-position: 0px -100px;}/*12*/
				i.sp-13 i{width: 52px; height: 52px; background-position: -75px -100px;}/*13*/
				i.sp-14 i{width: 15px; height: 11px; background-position: -100px -50px;}/*a2*/

				i.sp-a1 i{width: 25px; height: 18px; background-position: 0 -152px;}/*a1*/
				i.sp-a2 i{width: 25px; height: 18px; background-position: -25px -152px;}/*a2*/
				i.sp-a3 i{width: 10px; height: 18px; background-position: -50px -152px;}/*a2*/

				i.sp-cm i{width: 9px; height: 9px; background-position: -25px -75px;}/*a2*/
				i.sp-cp i{width: 9px; height: 9px; background-position: -50px -75px;}/*a2*/
