html {position: relative;min-height: 100%;}
body {background-color: #f4f2e7;/* background-color: rgba(0,0,0,0.5);*/ }
.footer {position: absolute;bottom: 0;width: 100%;height: 197px; background-color: #e7eaed;}
/* Global ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body, td{font-family: 'Open Sans', sans-serif; color: #454545; }
ul{list-style: none; padding-left: 0;}
a{color: #454545;outline: none;}
textarea:focus, input:focus{outline: none;}
*:focus {outline: none;}

a:hover{color: #000; text-decoration: none;}

a:visited,
a:active,
a:link,
a:hover{text-decoration: none;outline: none !important;}
a:focus{color: inherit;}
textarea {resize: none;}

h1{font-size: 36px;}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 18px;}

small{font-size: 13px;}
label{font-weight: 400;}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    /*margin-right: 15px;*/
    /*font-size: 13px;*/
}

input[type=radio] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;
 
    width: 25px;
    height: 25px;
 		border-radius: 50%; 		
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #f8f6ef;
  	border: solid 1px #e9dec0;
}
	
input[type=radio]:checked + label:before {
    content: "\2022";
    font-family: "Lucida Console", Monaco, monospace;
    /*content: "&bull;";*/
    color: #f3f3f3;
    font-size: 32px;
    text-align: center;
    line-height: 22px;  
     /*width: 11px;*/
  /*height: 11px;*/
  color: #cf514e;  
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.form-control{
	background-color: rgba(244, 242, 231, 0.65);
	border-color: #e9dec0;
	border-radius: 15px;
}
.form-control:focus{
	box-shadow: 0 0 5px #e9dec0;
	border-color: #e8cf8b;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.form-control::-webkit-input-placeholder {color: #000;  }
.form-control:-moz-placeholder {          color: #000;  }
.form-control::-moz-placeholder {         color: #000;  }
.form-control:-ms-input-placeholder {     color: #000;  }
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.label-brown{color: #99876a; background-color: #e9dec0; border:1px solid #e5d6b4; border-radius: 6px; padding: 2px 10px; letter-spacing: 1px;}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.btn-border{
	border:1px solid #ccb595;
	border-radius: 100px;
	min-width: 158px;
	height: 39px;
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	color: #768441;
	font-size: 14px;
		transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;

}

a.btn-border:hover{
	border-color: #000;
	/*background-color: #fff;*/
	background-color: #f1e5cc;
	/*line-height: 33px;*/
					/*transform: scale(1.02,1.02);*/
	/*-webkit-transform: scale(1.02,1.02);*/
	/*box-shadow: 0 0 3px #ee504d;*/
	color: #000;
}
.btn{
	border:1px solid #768441;
	border-radius: 100px;
	min-width: 158px;
	height: 39px;
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	color: #fff;
	background-color: #768441;
	font-size: 14px;
		transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;

}
.btn-primary:link,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover{
	background-color: #cf514e;
	border-color: #cf514e;
	/*color: #000;*/
}
.btn-lg{font-weight: 500;}
/* Main menu /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main-menu{position: fixed; left: 0; right: 0; z-index: 3; padding-top: 20px; text-align: center; 
	transform: translate(0,-100%) ;
	-webkit-transform: translate(0,-100%);
	background-color: #f4f2e7;
	background-color: rgba(244,242,231,0.7);
}
body[data-loading="done"] .cssload-speeding-wheel{border-top-color:#cf514e !important;border-bottom-color:#cf514e !important;}
body[data-loading="done"] .main-menu{
	transition: transform .3s ease-out;
	-webkit-transition: transform .3s ease-in;

	transform: translate(0,0);
	-webkit-transform: translate(0,0);
   -webkit-transition-delay: 0.5s; 
    transition-delay: 0.5s;

	
}
.main-menu .logo{}
.main-menu ul.left{float: left;}
.main-menu ul.left li{margin-right: 20px;}
.main-menu ul.right{float: right;}
.main-menu ul.right li{margin-left: 20px;}
.main-menu li i.sp-1{margin-bottom: -1px;}
.main-menu li i.sp-2{margin-bottom: -1px;}
.main-menu li i.sp-3{margin-bottom: -3px;}
.main-menu li i.sp-5{margin-bottom: -3px;}
.main-menu li{float: left; text-shadow: 0 0 2px #f4f2e7;}
.main-menu li a{display: block;}
.main-menu li a u{display: inline-block; text-decoration: none; border: 2px solid transparent; padding-bottom: 2px; transition: border-color .3s;}
.main-menu li.active a u,
.main-menu li a.active u{border-bottom:2px solid #cf514e;transition: all .3s;}
.main-menu li a:hover u{border-bottom:2px solid #768441; transition: none;}

.main-menu li a b,
.cart-cc b{margin: -10px 0 0 2px; display: inline-block; width: 30px; height: 30px; line-height: 29px; border:1px solid #cf514e; border-radius: 50%; font-weight: normal; text-align: center;}
.main-menu li a:hover b,
a.cart-cc:hover b{ background-color: #cf514e; color: #fff;}


.cartbox > b,
.cartbox > a{z-index: 1; position: absolute; width: 39px; height: 39px;  font-size: 24px; color: #fff;   background-color: #cf514e; border-radius: 50%; transition: all .3s; -webkit-transition: all .3s; vertical-align: middle;}
.cartbox > b{color: #998b73 !important; font-size: 18px !important; font-weight: normal !important; background-color: #e9dec0 !important; text-align: center; line-height: 38px !important;}
.cartbox > a > i{position: absolute; left: 50%; top: 50%; font-size: 12px; margin: -7px 0 0 -6px;}
/*.cartbox > a > i.fa-minus{margin: -0px 0 0 -12px !important;}*/
.cartbox.active > a.min{transform:translate(98px,0);}
.cartbox.active > a.min > i{margin-top: -1px;}
.cartbox.active > b{transform:translate(49px,0);}
body[data-color="dark"] .main-menu li a{color: #fff;}